<%@page pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1" cellspacing="0" cellpadding="5">
		<thead>
			<tr>
				<th colspan="2">用户管理</th>
				<th colspan="2">部门管理</th>
				<th colspan="2">职位管理</th>
				<th colspan="2">员工管理</th>
				<th colspan="2">公告管理</th>
				<th colspan="2">下载中心</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/hrmapp_v2/user/selectuser">用户查询</a></td>
				<td><a href="/hrmapp_v2/resources/adduserform.jsp">添加用户</a></td>
				<td><a href="dept/selectdept">部门查询</a></td>
				<td><a href="dept/adddept">添加部门</a><br></td>
				<td><a href="job/selectjob">职位查询</a></td>
				<td><a href="job/addjob">添加职位</a></td>
				<td><a href="/employee/selectemployee">员工查询</a></td>
				<td><a href="employee/addemployee">添加员工</a></td>
				<td><a href="/notice/selectnotice">公告查询</a></td>
				<td><a href="notice/addnotice">添加公告</a></td>
				<td><a href="/document/selectdocument">文档查询</a></td>
				<td><a href="document/adddocument">上传文档</a></td>
			</tr>
		</tbody>
	</table>
	<br><br><br>
</body>
</html>